
    * {
    margin: 0;
    }
    #container {
    display: flex;
    background-color: black;
    height: 80px;
    }

    #title {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #links {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #title h1 {
    color: cornsilk;
    }

    a {
    color: white;
    margin: 30px;
    text-decoration: none;
    font-size: 19px;
    }

    a:hover {
    color: green;
    text-decoration: underline;
    }

    #links button {
    padding: 10px 25px;
    background: none;
    color: red;
    font-weight: bold;
    border: 2px solid red;
    }

    #links button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    }

    #flex-container {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
    height: 100px;
    width: 1200px;
    
    }

    #categories {
    width: 1200px;
    margin: 20px;
    }

    .sub-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    
    }
    p {
    text-align: center;
    }
    #flex-container img {
    border-radius: 50%;
    }

    .gridC {
    width: 1100px;
    height: 500px;

    margin: 50px auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    }

    #mainSection {
    grid-row: 1/3;
    grid-column: 1/3;
    background-color: aqua;
    background-image: url("https://d2v5dzhdg4zhx3.cloudfront.net/web-assets/images/storypages/primary/ProductShowcasesampleimages/JPEG/Product+Showcase-1.jpg");
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: hwb(70 97% 1%);
    border-radius: 2%;
    }
    #topSection {
    grid-row: 1/2;
    grid-column: 3/4;

    background-image: url("https://assets.turbologo.com/blog/en/2021/09/10093610/photo-camera-958x575.png");
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: white;
    border-radius: 2%;
    }
    #bottomSection {
    grid-row: 2/3;
    grid-column: 3/4;

    background-image: url("https://cdn.mos.cms.futurecdn.net/M4nigVN3vvA5EEnNX9atxY-1200-80.jpg");
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: white;
    border-radius: 2%;
    }
    .gridC h1 {
    font-size: 40px;
    font-weight: bold;
    }
    .grid-C {
    width: 900px;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    margin: 50px auto;
    gap: 20px;
    }
    #left {
    grid-row: 1/2;
    grid-column: 1/2;
    }
    #right {
    grid-row: 1/2;
    grid-column: 2/3;
    }
    .grid-C button {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    }
    .grid-C button:hover {
    cursor: pointer;
    }

    .shopping {
    width: 900px;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 50px auto;
    }

    #text {
    grid-row: 1/2;
    grid-column: 1/2;
    }
    #brand {
    grid-row: 1/2;
    grid-column: 2/3;
    }
    header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1000;
    }
    body {
    margin-top: 100px;
    }
    .electronics {
    width: 900px;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 50px auto;
    }

    .footer {
    width: 100%;
    height: 300px;
    display: grid;
    background-color: black;
    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
    }
    #company {
    grid-row: 1/2;
    grid-column: 1/2;
    }
    #get-help {
    grid-row: 1/2;
    grid-column: 2/3;
    }
    #online-shop {
    grid-row: 1/2;
    grid-column: 3/4;
    }
    #follow-us {
    grid-row: 1/2;
    grid-column: 4/5;
    }

    .footer h3 {
    margin: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    }
    .footer a {
    color: whitesmoke;
    font-size: 15px;
    
    
    }
    .footer {
    background: #333;
    color: white;

    }

    #follow-us a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    margin-left: 30px;
    }

    #follow-us a:hover {
    color: #00aced; 
    }
    .anchor-footer ul{
    font-size: 17px;
    margin-left: 30px;
    }